.form-dang-nhap {
    padding: 50px 30px;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius:20px;
}
.container{
    padding: 15px;
}
.footer{
    margin: 0%;
    padding: 50px;
}
.col-md-4{
    text-align: right;
}